.musicas{
    position: absolute;
    bottom: 10%;
    left: 49%;
}
.page3{
    background: url("../Images/som.jpg") no-repeat;
    background-size: cover;
}
.page3 img{
    width: 30px;
    height: 30px;
    
}

